
* {
    margin: 0;
    padding: 0;
    font-family: 'Tajawal';
  
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right , rgb(11, 11, 226) , rgb(192, 9, 192));
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

.logo {
    width: 350px;
    cursor: pointer;
    margin-top: 100px;
    margin-right: 280px;
    margin-left: 150px;
}

.navbar {
    width: 100%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.9;
    background-image:linear-gradient(to right, darkblue , purple);;
}
.SUPPORT_BTN{
    
    width: 50px;
    height: 50px;
    margin-top: 0px;
    margin-right: -35px;
    background-color: lightblue;
    color: white;
    border-style: solid;
    border-color: white;
    text-decoration: link;


}
.SUPPORT_BTN:hover {

    border-color: wheat;
    border-style: 5px;
background-color: lightskyblue;
}
.searchbar[type=text] {
    border: 13px;
    border-color: whitesmoke;
padding: 6px;
margin-left: 50px;
background-color: lightblue;
color: black;
  }
.About-Contact_BTN{
    width: 50px;
    height: 50px;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 00px;
    background-color: lightblue;
    color: black;
    border-style: solid;
    border-color: white;
  
}
.About-Contact_BTN:hover {

    border-color: wheat;
    border-style: 5px;
background-color: lightskyblue;
}
.Pes2021{
    width: max-content;
}
.pes_img{
    width: 450px;
    display: block;
    margin-left: 420px;
}
.download_BTN{
    opacity: 100%;
    width: 150px;
    height: 32px;
 font-size: 16px;
background-image: linear-gradient(to right , lightblue , lightsalmon);
color: black;
border: cornflowerblue;
border-style: inherit;
margin-top: 10px;
margin-left: 575px;

}
a{
    text-decoration: none;
    color: black;
}
.text{
    color: white;
    font-weight: bold;
    font-size: 20px;
margin-left: 570px;
}
.imgs{
width: 500px;

}
.first_img{
    width: 430px;
    margin-left: 420px;
}
.two_img{
    width: 430px;
    margin-left: 420px;
    
}
.three_IMG{
    width: 430px;
    margin-left: 420px;
}
.four_img{
    width: 430px;
    margin-left: 420px;
}
.five_img{
    width: 350px;
    margin-left: 425px;
}
.description{
    text-align: center;
    width: 500px;
    font-weight: bold;
    margin-left: 400px;
    white-space: normal;
    color: white;
}